.c-mobileNav_container {
  width: 100%;
  background-color: rgb(218, 218, 218);
  padding: 1.5rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;

  position: fixed;
  top: 5rem;
  right: 0;
  bottom: 0;
  z-index: 50;

  transition: transform 0.6s cubic-bezier(0.75, 0, 0.175, 1);
}

.c-instruction-steps_item_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color-maintheme);
}

/* =========== introduction card =========== */
.c-introduction-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1.25rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  flex: 0 1 25rem;
}

/* =========== header2 =========== */
.c-header2 {
  position: sticky;

  z-index: 50;
}

.c-header2-nav_item {
  /* border rounded-full border-gray-300 px-4 py-2 */
  border-radius: 100px;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  cursor: pointer;

  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

/* =========== StoreCard.jsx =========== */
.c-store-card {
  min-width: 18rem;
  /* max-width: 30rem; */
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.c-store-img-container {
  width: 100%;
  height: 10rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  overflow: hidden;
}

/* =========== DiscoverListCard.jsx =========== */
.c-discover-list-card {
  display: inline-block;
  min-width: 18rem;
  max-width: 20rem;
  height: 100%;
  margin-right: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow: hidden;

  cursor: pointer;

  scroll-snap-align: start;

  &:hover .c-discover-list-card_img {
    transform: scale(1.05);
  }
}

.c-discover-list-card_img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: transform 0.3s ease;
}

/* =========== OrderListCard.jsx =========== */
.c-order-list-card {
  /* px-4 py-6 rounded-lg relative bg-white shadow-md border border-gray-300 */
  min-width: 25rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  position: relative;

  cursor: pointer;
}

/* =========== OAuth =========== */
.c-OAuth_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5rem;
}
