.p-instruction_swiper_container {
  height: fit-content;
  position: relative;
  overflow: hidden;
}

.p-instruction_swiper_container .swiper {
  width: 100%;
  height: 100%;
}

.p-instruction_swiper_container .swiper-slide {
  width: 100%;
  height: 100%;
}

.p-instruction_swiper_container .swiper-pagination {
  position: static;
  margin-top: 1rem;
}

.p-instruction_swiper_container .swiper-pagination-bullet {
  background-color: greenyellow;
}

/* =========== OAuth =========== */
.p-OAuth_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5rem;
}

/* =========== pages global =========== */
.img_container {
  width: 100%;
  height: 100%;
}
.img_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-divider {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.p-divider_line {
  width: 100%;
  height: 1px;
  background-color: #e9e9e9;
}
