.p-instruction_swiper_container {
  height: fit-content;
  position: relative;
  overflow: hidden;
}

.p-instruction_swiper_container .swiper {
  width: 100%;
  height: 100%;
}

.p-instruction_swiper_container .swiper-slide {
  width: 100%;
  height: 100%;
}

.p-instruction_swiper_container .swiper-pagination {
  position: static;
  margin-top: 1rem;
}

.p-instruction_swiper_container .swiper-pagination-bullet {
  background-color: greenyellow;
}

@media (max-width: 1024px) {
  .p-instruction_swiper_container .swiper-pagination {
    transform: translateY(0) translateX(0);
  }
}
